[submodule "GW2BroH/GW2BroH/WebSiteHelper"]
	path = GW2BroH/GW2BroH/WebSiteHelper
	url = https://coody@github.com/Coody/GW2_iOS_WebApi.git
[submodule "GW2BroH/GW2BroH/ClockManager"]
	path = GW2BroH/GW2BroH/ClockManager
	url = https://coody@github.com/Coody/ClockManager.git
