# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
#Pods/

GW2BroH/Pods/AFNetworking/AFNetworking/AFHTTPRequestOperation.h

GW2BroH/Pods/Target Support Files/Pods/Pods.release.xcconfig

GW2BroH/Pods/Target Support Files/Pods/Pods-resources.sh

GW2BroH/Pods/Target Support Files/Pods/Pods-environment.h

GW2BroH/Pods/Target Support Files/Pods/Pods.debug.xcconfig

GW2BroH/Pods/Target Support Files/Pods/Pods-acknowledgements.plist

GW2BroH/Pods/Target Support Files/Pods/Pods-dummy.m

*.xcconfig

GW2BroH/Pods/Target Support Files/Pods-AFNetworking/Pods-AFNetworking-prefix.pch

GW2BroH/Pods/Target Support Files/Pods/Pods-acknowledgements.markdown

GW2BroH/Pods/Target Support Files/Pods-AFNetworking/Pods-AFNetworking-dummy.m

GW2BroH/Pods/Pods.xcodeproj/project.pbxproj

GW2BroH/Pods/Headers/Public/AFNetworking/UIWebView+AFNetworking.h

GW2BroH/Pods/Headers/Public/AFNetworking/UIRefreshControl+AFNetworking.h

GW2BroH/Pods/Headers/Public/AFNetworking/UIProgressView+AFNetworking.h

GW2BroH/Pods/Headers/Public/AFNetworking/UIImageView+AFNetworking.h

GW2BroH/Pods/Headers/Public/AFNetworking/UIKit+AFNetworking.h

GW2BroH/Pods/Headers/Public/AFNetworking/UIAlertView+AFNetworking.h

GW2BroH/Pods/Headers/Public/AFNetworking/UIButton+AFNetworking.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFURLSessionManager.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFURLResponseSerialization.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFURLRequestSerialization.h

GW2BroH/Pods/Headers/Public/AFNetworking/UIActivityIndicatorView+AFNetworking.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFURLConnectionOperation.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFNetworkReachabilityManager.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFSecurityPolicy.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFNetworking.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFNetworkActivityIndicatorManager.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFHTTPSessionManager.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFHTTPRequestOperationManager.h

GW2BroH/Pods/Headers/Public/AFNetworking/AFHTTPRequestOperation.h

GW2BroH/Pods/Headers/Private/AFNetworking/UIRefreshControl+AFNetworking.h

GW2BroH/Pods/Headers/Private/AFNetworking/UIProgressView+AFNetworking.h

GW2BroH/Pods/Headers/Private/AFNetworking/UIWebView+AFNetworking.h

GW2BroH/Pods/Headers/Private/AFNetworking/UIKit+AFNetworking.h

GW2BroH/Pods/Headers/Private/AFNetworking/UIImageView+AFNetworking.h

GW2BroH/Pods/Headers/Private/AFNetworking/UIActivityIndicatorView+AFNetworking.h

GW2BroH/Pods/Headers/Private/AFNetworking/AFURLSessionManager.h

GW2BroH/Pods/Headers/Private/AFNetworking/AFURLResponseSerialization.h

GW2BroH/Pods/AFNetworking/AFNetworking/AFHTTPRequestOperation.m

GW2BroH/Pods/AFNetworking/AFNetworking/AFHTTPRequestOperationManager.h

GW2BroH/Pods/AFNetworking/AFNetworking/AFHTTPRequestOperationManager.m

GW2BroH/Pods/AFNetworking/AFNetworking/AFHTTPSessionManager.h

GW2BroH/Pods/AFNetworking/AFNetworking/AFHTTPSessionManager.m

GW2BroH/Pods/AFNetworking/AFNetworking/AFNetworking.h

GW2BroH/Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.h

GW2BroH/Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.m

GW2BroH/Pods/AFNetworking/AFNetworking/AFSecurityPolicy.h

GW2BroH/Pods/AFNetworking/AFNetworking/AFSecurityPolicy.m

GW2BroH/Pods/AFNetworking/AFNetworking/AFURLConnectionOperation.h

GW2BroH/Pods/AFNetworking/AFNetworking/AFURLConnectionOperation.m

GW2BroH/Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.h

GW2BroH/Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.m

GW2BroH/Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.h

GW2BroH/Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.m

GW2BroH/Pods/AFNetworking/AFNetworking/AFURLSessionManager.h

GW2BroH/Pods/AFNetworking/AFNetworking/AFURLSessionManager.m

GW2BroH/Pods/AFNetworking/LICENSE

GW2BroH/Pods/AFNetworking/README.md

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.h

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.m

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.h

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.m

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIAlertView+AFNetworking.h

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIAlertView+AFNetworking.m

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.h

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.m

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.h

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.m

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIKit+AFNetworking.h

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.h

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.m

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.h

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.m

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.h

GW2BroH/Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.m

GW2BroH/Pods/Headers/Private/AFNetworking/AFHTTPRequestOperation.h

GW2BroH/Pods/Headers/Private/AFNetworking/AFHTTPRequestOperationManager.h

GW2BroH/Pods/Headers/Private/AFNetworking/AFHTTPSessionManager.h

GW2BroH/Pods/Headers/Private/AFNetworking/AFNetworkActivityIndicatorManager.h

GW2BroH/Pods/Headers/Private/AFNetworking/AFNetworking.h

GW2BroH/Pods/Headers/Private/AFNetworking/AFNetworkReachabilityManager.h

GW2BroH/Pods/Headers/Private/AFNetworking/AFSecurityPolicy.h

GW2BroH/Pods/Headers/Private/AFNetworking/AFURLConnectionOperation.h

GW2BroH/Pods/Headers/Private/AFNetworking/AFURLRequestSerialization.h

GW2BroH/Pods/Headers/Private/AFNetworking/UIAlertView+AFNetworking.h

GW2BroH/Pods/Headers/Private/AFNetworking/UIButton+AFNetworking.h
GW2BroH/Pods/Headers/Private/JSONModel/JSONAPI.h
GW2BroH/Pods/Headers/Private/JSONModel/JSONHTTPClient.h
GW2BroH/Pods/Headers/Private/JSONModel/JSONKeyMapper.h
GW2BroH/Pods/Headers/Private/JSONModel/JSONModel+networking.h
GW2BroH/Pods/Headers/Private/JSONModel/JSONModel.h
GW2BroH/Pods/Headers/Private/JSONModel/JSONModelArray.h
GW2BroH/Pods/Headers/Private/JSONModel/JSONModelClassProperty.h
GW2BroH/Pods/Headers/Private/JSONModel/JSONModelError.h
GW2BroH/Pods/Headers/Private/JSONModel/JSONModelLib.h
GW2BroH/Pods/Headers/Private/JSONModel/JSONValueTransformer.h
GW2BroH/Pods/Headers/Private/JSONModel/NSArray+JSONModel.h
GW2BroH/Pods/Headers/Public/JSONModel/JSONAPI.h
GW2BroH/Pods/Headers/Public/JSONModel/JSONHTTPClient.h
GW2BroH/Pods/Headers/Public/JSONModel/JSONKeyMapper.h
GW2BroH/Pods/Headers/Public/JSONModel/JSONModel+networking.h
GW2BroH/Pods/Headers/Public/JSONModel/JSONModel.h
GW2BroH/Pods/Headers/Public/JSONModel/JSONModelArray.h
GW2BroH/Pods/Headers/Public/JSONModel/JSONModelClassProperty.h
GW2BroH/Pods/Headers/Public/JSONModel/JSONModelError.h
GW2BroH/Pods/Headers/Public/JSONModel/JSONModelLib.h
GW2BroH/Pods/Headers/Public/JSONModel/JSONValueTransformer.h
GW2BroH/Pods/Headers/Public/JSONModel/NSArray+JSONModel.h
GW2BroH/Pods/JSONModel/LICENSE_jsonmodel.txt
GW2BroH/Pods/JSONModel/README.md
GW2BroH/Pods/JSONModel/JSONModel/JSONModelLib.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModel/JSONModel.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModel/JSONModel.m
GW2BroH/Pods/JSONModel/JSONModel/JSONModel/JSONModelArray.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModel/JSONModelArray.m
GW2BroH/Pods/JSONModel/JSONModel/JSONModel/JSONModelClassProperty.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModel/JSONModelClassProperty.m
GW2BroH/Pods/JSONModel/JSONModel/JSONModel/JSONModelError.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModel/JSONModelError.m
GW2BroH/Pods/JSONModel/JSONModel/JSONModelCategories/NSArray+JSONModel.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModelCategories/NSArray+JSONModel.m
GW2BroH/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONAPI.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONAPI.m
GW2BroH/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONHTTPClient.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONHTTPClient.m
GW2BroH/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONModel+networking.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONModel+networking.m
GW2BroH/Pods/JSONModel/JSONModel/JSONModelTransformations/JSONKeyMapper.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModelTransformations/JSONKeyMapper.m
GW2BroH/Pods/JSONModel/JSONModel/JSONModelTransformations/JSONValueTransformer.h
GW2BroH/Pods/JSONModel/JSONModel/JSONModelTransformations/JSONValueTransformer.m
GW2BroH/Pods/Target Support Files/JSONModel/JSONModel-dummy.m
GW2BroH/Pods/Target Support Files/JSONModel/JSONModel-prefix.pch
Podfile.lock
Manifest.lock
GW2BroH.xcscmblueprint
