<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorldBossVersion</key>
	<string>1.0</string>
	<key>Data</key>
	<array>
		<dict>
			<key>bossImageName</key>
			<string>theShatterer</string>
			<key>bossName</key>
			<string>水晶龍</string>
			<key>brief</key>
			<string></string>
			<key>details</key>
			<string></string>
			<key>startTime</key>
			<integer>0</integer>
			<key>endTime</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>bossImageName</key>
			<string>teq</string>
			<key>bossName</key>
			<string>屍龍</string>
			<key>brief</key>
			<string></string>
			<key>details</key>
			<string></string>
			<key>startTime</key>
			<integer>0</integer>
			<key>endTime</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>bossImageName</key>
			<string>jungleWurm</string>
			<key>bossName</key>
			<string>蟲王</string>
			<key>brief</key>
			<string></string>
			<key>details</key>
			<string></string>
			<key>startTime</key>
			<integer>15</integer>
			<key>endTime</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>bossImageName</key>
			<string>modniirUlgoth.png</string>
			<key>bossName</key>
			<string>人馬王</string>
			<key>brief</key>
			<string></string>
			<key>details</key>
			<string></string>
			<key>startTime</key>
			<integer>30</integer>
			<key>endTime</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>bossImageName</key>
			<string>shadowBehemoth</string>
			<key>bossName</key>
			<string>沼澤王</string>
			<key>brief</key>
			<string>Lv. 1-15 人類主城下方地圖（Queensdale）的湖中央。</string>
			<key>details</key>
			<string></string>
			<key>startTime</key>
			<integer>45</integer>
			<key>endTime</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>bossImageName</key>
			<string>golemMarkII</string>
			<key>bossName</key>
			<string>高倫王</string>
			<key>brief</key>
			<string></string>
			<key>details</key>
			<string></string>
			<key>startTime</key>
			<integer>60</integer>
			<key>endTime</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>bossImageName</key>
			<string>evolvedJungleWurm</string>
			<key>bossName</key>
			<string>三蟲王</string>
			<key>brief</key>
			<string></string>
			<key>details</key>
			<string></string>
			<key>startTime</key>
			<integer>60</integer>
			<key>endTime</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>bossImageName</key>
			<string>svanirShaman</string>
			<key>bossName</key>
			<string>冰薩滿</string>
			<key>brief</key>
			<string>Lv. 1-15 諾恩主城右邊的地圖，孰稱「毛先生」（ Mew ）。</string>
			<key>details</key>
			<string></string>
			<key>startTime</key>
			<integer>60</integer>
			<key>endTime</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>bossImageName</key>
			<string>clawOfJormag</string>
			<key>bossName</key>
			<string>冰龍</string>
			<key>brief</key>
			<string></string>
			<key>details</key>
			<string></string>
			<key>startTime</key>
			<integer>90</integer>
			<key>endTime</key>
			<integer>120</integer>
		</dict>
	</array>
</dict>
</plist>
